# Challenge 1

In [1]:
with open('./Resources/weather_data.csv') as file:
    data = file.readlines()

In [2]:
data

['day,temp,condition\n',
 'Monday,12,Sunny\n',
 'Tuesday,14,Rain\n',
 'Wednesday,15,Rain\n',
 'Thursday,14,Cloudy\n',
 'Friday,21,Sunny\n',
 'Saturday,22,Sunny\n',
 'Sunday,24,Sunny\n']

# Reading CSV Data in Python

In [3]:
import csv

In [4]:
with open('./Resources/weather_data.csv') as data_file:
    data = csv.reader(data_file)
    print(data)

<_csv.reader object at 0x000001D599FB1960>

In [5]:
with open('./Resources/weather_data.csv') as data_file:
    data = csv.reader(data_file)
    for row in data:
        print(row)

['day', 'temp', 'condition']
['Monday', '12', 'Sunny']
['Tuesday', '14', 'Rain']
['Wednesday', '15', 'Rain']
['Thursday', '14', 'Cloudy']
['Friday', '21', 'Sunny']
['Saturday', '22', 'Sunny']
['Sunday', '24', 'Sunny']

# Challenge 2

In [6]:
with open('./Resources/weather_data.csv') as data_file:
    data = csv.reader(data_file)
    temperatures = []
    for row in data:
        if row[1] != 'temp':
            temperatures.append(int(row[1]))

In [7]:
temperatures

[12, 14, 15, 14, 21, 22, 24]

# Pandas : Python Data Analysis Library

In [8]:
import pandas

In [9]:
data = pandas.read_csv("./Resources/weather_data.csv")

In [10]:
data

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [11]:
data[data['day'] == "Monday"].temp

0    12
Name: temp, dtype: int64

In [12]:
data[data['day'] == "Monday"].temp.item()

12

In [13]:
print(data['temp'])

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

# DataFrames and Series

In [14]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [15]:
print(type(data["temp"]))

<class 'pandas.core.series.Series'>

**Series is equivalent to kind of list or a single column in dataframe**

In [16]:
data_dict = data.to_dict()
data_dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [17]:
temp_list = data["temp"].to_list()
len(temp_list)

7

# Challenge 3

In [18]:
average = sum(temp_list) / len(temp_list)
average

17.428571428571427

In [19]:
data["temp"].mean()

17.428571428571427

In [20]:
data["temp"].max()

24

In [21]:
#Get Data in Columns
print(data["condition"])
print(data.condition) # behind the scenes, pandas has taken all those headings and converted to attributes

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object
0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [22]:
# Get Data in Row
print(data[data.day == "Monday"])

      day  temp condition
0  Monday    12     Sunny

# Challenge 4

In [23]:
print(data[data.temp == data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny

In [24]:
# Get Row data value
monday = data[data.day == "Monday"]

# Challenge 5

In [25]:
monday_temp = int(data[data.day == "Monday"].temp.item())
monday_temp_F = monday_temp * 9/5 + 32
print(monday_temp_F)

53.6

In [26]:
# Create a dataframe from scratch
data_dict = {
    "students": ["Amy", "James", "Angela"],
    "scores": [76, 56, 65]
}

data = pandas.DataFrame(data_dict)
data

  students  scores
0      Amy      76
1    James      56
2   Angela      65

In [27]:
# Saving to csv
data.to_csv("./Resources/new_data.csv")

# The Great Central Park Squirrel Data Analysis

In [28]:
data = pandas.read_csv("./Resources/2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")

In [29]:
data

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [30]:
grey_squirrels_count = len(data[data["Primary Fur Color"] == "Gray"])

In [31]:
grey_squirrels_count

2473

In [32]:
cinnamon_squirrels_count = len(data[data["Primary Fur Color"] == "Cinnamon"])

In [33]:
cinnamon_squirrels_count

392

In [34]:
black_squirrels_count = len(data[data["Primary Fur Color"] == "Black"])

In [35]:
black_squirrels_count

103

In [36]:
data_dict = {
    "Fur Color": ["Gray", "Cinnamon", "Black"],
    "Count": [grey_squirrels_count, cinnamon_squirrels_count, black_squirrels_count]
}

In [37]:
data_dict

{'Fur Color': ['Gray', 'Cinnamon', 'Black'], 'Count': [2473, 392, 103]}

In [38]:
df = pandas.DataFrame(data_dict)

In [39]:
df

  Fur Color  Count
0      Gray   2473
1  Cinnamon    392
2     Black    103

In [40]:
df.to_csv("./Resources/squirrel_count.csv")