List is a built-in data structure in Python and a collection of data points in square brackets. Lists can be used to store any data type or a mixture of different data types.

List comprehension is basically creating lists based on existing iterables. It can also be described as representing for and if loops with a simpler and more appealing syntax. List comprehensions are relatively faster than for loops.

In [1]:
import numpy as np

In [2]:
numbers = [10, 12, 13, 14, 5, 6 , 7, 8, 99, 0, 34, 65, 78, 4, 6, 7, 3, 2]

# Example 1

In [3]:
b = []
for x in numbers:
    if x > 10:
        b.append(x)
print(b)

[12, 13, 14, 99, 34, 65, 78]

In [4]:
[x for x in numbers if x > 10]

[12, 13, 14, 99, 34, 65, 78]

# Example 2
multiply the items that fit the condition by 2

In [5]:
[x*2 for x in numbers if x > 10]

[24, 26, 28, 198, 68, 130, 156]

# Example 3

<img src = "https://cdn.programiz.com/sites/tutorial2program/files/lc.jpg">

The condition is that string starts with the letter “c”.

In [6]:
names = ['Ch','Dh','Eh','cb','Tb','Td']

In [7]:
[name for name in names if name.lower()[0] == "c"]

['Ch', 'cb']

# Example 4

Iterate over the rows in matrix A and take the maximum number.

In [8]:
A = np.random.randint(10, size=(4,4))
A

array([[7, 9, 4, 1],
       [8, 6, 3, 6],
       [0, 5, 2, 7],
       [1, 5, 3, 8]])

In [11]:
[max(x) for x in A]

[9, 8, 7, 8]

# Example 5

In [12]:
vals = [[1,2,3],[4,5,2],[3,2,6]]

In [13]:
[max(x) for x in vals]

[3, 5, 6]

# Example 6

strings that end with the letter “b” and have a length greater than 2.

In [14]:
names = ['Ch','Dh','Eh','cb','Tb','Td','Chb','Tdb']

In [15]:
[name for name in names if name.lower()[-1] == "b" and len(name) > 2]

['Chb', 'Tdb']

# Example 7

In [16]:
names = ['chb', 'ydb', 'thd', 'hgh']

In [17]:
[name for name in names if name.lower()[0] == "c" or name.lower()[-1] == "b"]

['chb', 'ydb']

# Example 8

<img src = "https://miro.medium.com/max/720/1*rN2aisbM6eEXVQ96GjojGA.png">

In [18]:
vals = [[1,2,3],[4,5,2],[3,2,6]]

In [19]:
[y for x in vals for y in x]

[1, 2, 3, 4, 5, 2, 3, 2, 6]

# Example 9
put the condition on the nested lists, not on individual elements

In [20]:
text = [['bar','foo','fooba'],['Rome','Madrid','Houston'], ['aa','bb','cc','dd']]

In [21]:
[y for x in text if len(x)>3 for y in x]

['aa', 'bb', 'cc', 'dd']

# Example 10

In [22]:
[y for x in text for y in x if len(y)>4]

['fooba', 'Madrid', 'Houston']

# Example 11

get the items that start with the letter “f” in nested lists with a length of 3 and then convert all the letters of selected items to uppercase.

In [37]:
[y.upper() for x in text if len(x) == 3 for y in x if y.lower()[0] == "f"]

['FOO', 'FOOBA']

# Example 12

In [38]:
["even" if y%2==0 else "odd" for y in range(5)]

['even', 'odd', 'even', 'odd', 'even']