# Challenge 1

In [1]:
numbers = [1,2,3]

In [2]:
new_numbers = [x+1 for x in numbers]

In [3]:
new_numbers

[2, 3, 4]

# Challenge 2

In [4]:
doubled_numbers = [x*2 for x in range(1,5)]

In [5]:
doubled_numbers

[2, 4, 6, 8]

# Conditional List Comprehension

In [6]:
names = ['Alex', 'Beth', 'Caroline', 'Dave', 'Elanor', 'Freddie']

In [7]:
short_names = [name for name in names if len(name) < 5]

In [8]:
short_names

['Alex', 'Beth', 'Dave']

# Challenge 3

In [9]:
long_names = [name.upper() for name in names if len(name) > 5]

In [10]:
long_names

['CAROLINE', 'ELANOR', 'FREDDIE']

# Dictionary Comprehension

In [11]:
names

['Alex', 'Beth', 'Caroline', 'Dave', 'Elanor', 'Freddie']

In [12]:
import random

In [13]:
students_scores = {student:random.randint(1,100) for student in names}

In [14]:
students_scores

{'Alex': 81,
 'Beth': 82,
 'Caroline': 93,
 'Dave': 85,
 'Elanor': 59,
 'Freddie': 93}

In [15]:
students_scores.items()

dict_items([('Alex', 81), ('Beth', 82), ('Caroline', 93), ('Dave', 85), ('Elanor', 59), ('Freddie', 93)])

In [16]:
passed_students = {student:score for (student, score) in students_scores.items() if score >= 60}

In [17]:
passed_students

{'Alex': 81, 'Beth': 82, 'Caroline': 93, 'Dave': 85, 'Freddie': 93}

# Iterating over Pandas DataFrame

In [18]:
student_dict = {
    'student' : ['Hanifa','Ayesha','Usman','Umar'],
    'scores' : [90, 80, 70, 60]
}

Looping through Dictionary

In [19]:
for (key, value) in student_dict.items():
    print(key, value)

student ['Hanifa', 'Ayesha', 'Usman', 'Umar']
scores [90, 80, 70, 60]

In [20]:
import pandas

In [21]:
students_df = pandas.DataFrame(student_dict)
students_df

  student  scores
0  Hanifa      90
1  Ayesha      80
2   Usman      70
3    Umar      60

**Loop through a DataFrame**

In [22]:
for (key, value) in students_df.items():
    print(value)

0    Hanifa
1    Ayesha
2     Usman
3      Umar
Name: student, dtype: object
0    90
1    80
2    70
3    60
Name: scores, dtype: int64

**Loop through rows of DataFrame**

In [26]:
for (index, row) in students_df.iterrows():
    print(row)

student    Hanifa
scores         90
Name: 0, dtype: object
student    Ayesha
scores         80
Name: 1, dtype: object
student    Usman
scores        70
Name: 2, dtype: object
student    Umar
scores       60
Name: 3, dtype: object

In [23]:
for (index, row) in students_df.iterrows():
    if row.student == 'Hanifa':
        print(row.scores)

90